<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">eLapse</a>
    </div>
    <div class="col-md-8" style="font-size: 8pt;"><!--Quotes-->
     <p class="navbar-text">"I'd like to take a moment to address you directly. Yes. I'm talking to you, the so-called One Free Man. I have a question for you. How could you have thrown it all away?" - Wallace Breen</p>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Timesheets<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Reports</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">#{Username}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Account</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Timesheets</a></li>
  <li class="active">New</li>
</ol>