<nav class="navbar navbar-elapse navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-md-1">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#elapse-collapse">
        <span class="glyphicon glyphicon-align-justify elapse-menu-icon"></span>
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#">eLapse</a>
    </div>
    <div class="col-md-7 nav_quote"><!--Quotes-->
       <p class="navbar-text">"You have destroyed so much. What is it, exactly, that you have created? Can you name even one thing? " - Wallace Breen</p>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="elapse-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">TIMESHEETS <span class="sr-only">(current)</span></a></li>
        <li><a href="#">REPORTS</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Alex Vance <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Account</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row elapse_breadcrumb_bar">
  <div class="col-md-4">
    <ol class="elapse_breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Timesheets</a></li>
      <li><a href="#">New</a></li>
    </ol>
  </div>
  <div class="col-md-5 elapse_month_name">
    DECEMBER/JANUARY
  </div>
</div>

