<!--Begin total time-->
<div id="total_time_sidebar">
  <div class="btn-group" role="group" aria-label="Today">
    <button type="button" class="btn btn-default">
      Today
      <i class="fa fa-angle-right"></i>
    </button>
  </div>
   <div>
     <h2>TOTAL TIME</h2>
     <h5>December 18, 2014</h5>
     <ul>
      <li><span class="elapse-days-hours">8.30</span> hours</li>
      <li><span class="elapse-days-hours">0.00</span> billable hours</li>
      <li><span class="elapse-days-hours">0%</span> billable</li>
      <li><span class="elapse-days-hours">62%</span> productive</li>
    </ul>
     <h5>December 14-20, 2014</h5>
     <ul>
      <li><span class="elapse-weeks-hours">41.00</span> hours</li>
      <li><span class="elapse-weeks-hours">2.10</span> billable hours</li>
      <li><span class="elapse-weeks-hours">3%</span> billable</li>
      <li><span class="elapse-weeks-hours">46%</span> productive</li>
    </ul>
  </div>
</div>
<!-- End total time-->