<!--Begin total time-->
<div id="total_time_sidebar">
  <div class="btn-group" role="group" aria-label="Today">
    <button type="button" class="btn btn-default">Today <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
  </div>
   <div>
     <h2>TOTAL TIME</h2>
     <h5><strong>December 18, 2014</strong></h5>
     <ul>
      <li><span class="sidebartime_hours">8.30</span> hours</li>
      <li><span class="sidebartime_billable">0.00</span> billable hours</li>
      <li><span class="sidebartime_billable">0%</span> billable</li>
      <li><span class="sidebartime_productive">62%</span> productive</li>
    </ul>
     <h5><strong>December 14-20, 2014</strong></h5>
     <ul>
      <li><b>41.00</b> hours</li>
      <li><b>2.10</b> billable hours</li>
      <li><b>3%</b> billable</li>
      <li><b>46%</b> productive</li>
    </ul>
  </div>
</div>
<!-- End total time-->