<div class="row">
  <div class="col-md-3" id="elapse_shortcuts_wrap">
    <%= render '/time_entries/shortcuts' %>
  </div>
  <div class="col-md-9" id="elapse_time_area">
    <div class="row">
      <div class="col-md-8">
        <%= render '/time_entries/time_entry_form' %>
        <%= render '/time_entries/time_entry_record' %>
      </div>
      <div class="col-md-4">
        <%= render '/time_entries/total_time' %>
      </div>
    </div>
  </div>
</div>