//Variables
//Colors
$elapse-background-color: #fff;
$grey-background-color: #F0f2f4;
$primary-color: #555;
$elapse-white: #fff;
$shader-holder: #efefef;
$shader-holder2: #ddd;
$elapse-red: #7A0218;
$elapse-lightgreen: #DFECD1;
$elapse-darkgreen: #AACC84;
$elapse-blue: #0086CB;
$elapse-navy: #647F8C;
$elapse-darknavy: #32434C;

//Quotes
$quotecolor: #c3c1c1;

//Actual Navbar
$navbar-elapse-border: #4A4644;
$navbar-elapse-bg: #4A4644;
$navbar-elapse-brand-color: #C3C1C1;
$navbar-elapse-brand-hover-color: #fff;
$navbar-elapse-brand-hover-bg: #4A4644;
$navbar-elapse-color: #C3C1C1;
$navbar-elapse-link-color: #C3C1C1;
$navbar-elapse-link-hover-color: #fff;
$navbar-elapse-link-hover-bg: #4A4644;
$navbar-elapse-link-active-color: #C3C1C1;
$navbar-elapse-link-active-bg: #36312F;
$navbar-elapse-link-disabled-color: #fff;
$navbar-elapse-link-disabled-bg: #4A4644;
$navbar-elapse-toggle-border-color: #4A4644;
$navbar-elapse-toggle-hover-bg: #4A4644;
$navbar-elapse-toggle-icon-bar-bg: #4A4644;

//Time Entries
$elapse-time-hr: #D0CfCf;

//Breadcrumbs
$elapse-breadcrumb-bg: #93A6AF;
$elapse-breadcrumb-active-color: #79051B;
$elapse-breadcrumb-color: #fff;
$elapse-breadcrumb-monthcolor: #fff;