// elapse navbar

//The quote
.nav_quote {
  font-size: 8pt;
  font-style: italic;
  color: $quotecolor !important;
}

//Actual navbar
.navbar-elapse {
  background-color: $navbar-elapse-bg;
  border-color: $navbar-elapse-border;
  border-radius: 0;

  .navbar-brand {
    color: $navbar-elapse-brand-color;
    font-weight: 600;
    &:hover,
    &:focus {
      color: $navbar-elapse-brand-hover-color;
      background-color: $navbar-elapse-brand-hover-bg;
    }
  }

  .elapse-menu-icon {
    color: $quotecolor;
  }

  .navbar-text {
    color: $navbar-elapse-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-elapse-link-color;

      &:hover,
      &:focus {
        color: $navbar-elapse-link-hover-color;
        background-color: $navbar-elapse-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-elapse-link-active-color;
        background-color: $navbar-elapse-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-elapse-link-disabled-color;
        background-color: $navbar-elapse-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-elapse-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-elapse-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-elapse-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-elapse-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-elapse-link-active-bg;
        color: $navbar-elapse-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-elapse-link-color;
          &:hover,
          &:focus {
            color: $navbar-elapse-link-hover-color;
            background-color: $navbar-elapse-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-elapse-link-active-color;
            background-color: $navbar-elapse-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-elapse-link-disabled-color;
            background-color: $navbar-elapse-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $navbar-elapse-link-color;
    &:hover {
      color: $navbar-elapse-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-elapse-link-color;
    &:hover,
    &:focus {
      color: $navbar-elapse-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-elapse-link-disabled-color;
      }
    }
  }
}