//Time Entries at bottom

#time_entry_record {
  border: 1px solid #f00;
}

.time_entry_block {
  background-color: $shader-holder;
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

#time_entry_icons {
  color: #cfcfcf;
}