@import "elapse_variables";

//Other stuff
body {
  color: $primary-color;
  background-color: $grey-background-color;

  a {
      color: $elapse-blue;
      text-decoration: none;
    
      &:hover {
        color: $elapse-red !important;
      }
    }

    a.deletex {
      color: #990000;
    }

    a.deletex:hover {
      color: #ff0000;
    }
}

#elapse_shortcuts {
  background-color: $grey-background-color;
  height: 100%;
  min-height: 100%;
  display: block;
  padding: 5px 15px 0 10px;
  border: 1px solid #0f0;
}

#elapse_time_area {
  background-color: $elapse-background-color;
  padding: 20px 0 0 20px;
  margin: -20px 0 0 -15px;
}

#elapse_time_entries {
  border: 1px solid #f00;
}

#total_time_sidebar {
  padding: 5px 15px 0 10px;
  border: 1px solid #00f;

  h2 {
    font-size: 20px !important;
    font-weight: 800;    
  }
  ul {
    list-style-type: none; 
    padding: 0;
  }
  button {
    display: inline;
    padding: 0 5px 0 5px;
    margin: -3px 0 0 0;
    height: 29px;
    width: 100px;
    color: $elapse-white;
    background: $elapse-navy;
    border: 1px solid $elapse-darknavy;  
  }
}

span.sidebartime_hours {
  font-weight: 800;
  font-size: 20px;
  padding-right: 5px;
}

span.sidebartime_billable {
  font-weight: 800;
  font-size: 20px;
  padding-right: 5px;
}

span.sidebartime_productive {
  font-weight: 800;
  font-size: 20px;
  padding-right: 5px;
}



